* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    border-bottom: 1px solid black;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.tile-div {
    display: block;
}

.row-div {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.tile {
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
    margin: 1px;
}

.key-btn {
    border: none;
    margin: 2px;
    background-color:silver;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 10%;
}

.key-btn:hover {
    cursor: pointer;
}